In [32]:
import pandas as pd 
import numpy as np

In [83]:
checks_df= pd.read_csv("Downloads/check_list_2021.csv")

In [84]:
checks_df.head()

,**********************,NO CHEQUE,BANCO,MONTO,COMICION,TOTAL,DIA CAMBIO,NO TEL,ID CLIENTE,N. DE EMPRESA,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,DANIEL E AGUIRRE,1068.0,UNION BANK,"$1,359.47",$21.07,"$1,338.40",5/14/2019,0,NaN,CALIFORNIA BURRITO,NaN,CAMBIARIO 1,FECHA:,01/01/2021,NaN,NaN,NaN
1,CLAUDIO CALONA,30597.0,WELLS FARGO BANK,"$1,138.19",$17.64,"$1,120.55",5/14/2019,0,NaN,STONE TILE EVOLUTION LLC,NaN,SUB TOTAL,COM,T SIN COM,NaN,NaN,NaN
2,ENRIQUE OROSCO DIAZ,3064.0,EL DORADO SAVINGS BANK,$895.34,$13.88,$881.46,5/14/2019,0,NaN,SB MARTIN LLC,NaN,NaN,$ -,$ -,NaN,NaN,NaN
3,CESAR ORTIZ RANGEL,10101647.0,CALIFORNIA BANK,$356.34,$5.52,$350.82,5/14/2019,0,NaN,HORIZON,NaN,,NaN,NaN,NaN,NaN,NaN
4,CESAR ORTIZ RANGEL,10094421.0,CALIFORNIA BANK,$607.95,$9.42,$598.53,5/15/2019,0,NaN,HORIZON,NaN,SUB TOTAL,COM,T SIN COM,NaN,NaN,NaN

In [85]:
checks_df =checks_df.drop(columns=['ID CLIENTE', 'NO TEL','Unnamed: 10',
                        'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13', 'Unnamed: 14',
                       'Unnamed: 15', 'Unnamed: 16'])

In [86]:
checks_df.head()

,**********************,NO CHEQUE,BANCO,MONTO,COMICION,TOTAL,DIA CAMBIO,N. DE EMPRESA
0,DANIEL E AGUIRRE,1068.0,UNION BANK,"$1,359.47",$21.07,"$1,338.40",5/14/2019,CALIFORNIA BURRITO
1,CLAUDIO CALONA,30597.0,WELLS FARGO BANK,"$1,138.19",$17.64,"$1,120.55",5/14/2019,STONE TILE EVOLUTION LLC
2,ENRIQUE OROSCO DIAZ,3064.0,EL DORADO SAVINGS BANK,$895.34,$13.88,$881.46,5/14/2019,SB MARTIN LLC
3,CESAR ORTIZ RANGEL,10101647.0,CALIFORNIA BANK,$356.34,$5.52,$350.82,5/14/2019,HORIZON
4,CESAR ORTIZ RANGEL,10094421.0,CALIFORNIA BANK,$607.95,$9.42,$598.53,5/15/2019,HORIZON

In [87]:
checks_df=checks_df.rename(columns={' **********************': 'client_name','NO CHEQUE': 'check_no','BANCO':'bank',
                                   'MONTO':'amount','TOTAL':'total','DIA CAMBIO':'date_cashed',
                                   'N. DE EMPRESA': 'company_name','COMICION':'commision'})

In [88]:
checks_df.check_no.value_counts()

64.0         10
1048.0        7
1451.0        6
1117.0        6
1347.0        6
             ..
6341.0        1
20752.0       1
20799.0       1
2023018.0     1
3608.0        1
Name: check_no, Length: 14849, dtype: int64

In [89]:
checks_df.head()

,client_name,check_no,bank,amount,commision,total,date_cashed,company_name
0,DANIEL E AGUIRRE,1068.0,UNION BANK,"$1,359.47",$21.07,"$1,338.40",5/14/2019,CALIFORNIA BURRITO
1,CLAUDIO CALONA,30597.0,WELLS FARGO BANK,"$1,138.19",$17.64,"$1,120.55",5/14/2019,STONE TILE EVOLUTION LLC
2,ENRIQUE OROSCO DIAZ,3064.0,EL DORADO SAVINGS BANK,$895.34,$13.88,$881.46,5/14/2019,SB MARTIN LLC
3,CESAR ORTIZ RANGEL,10101647.0,CALIFORNIA BANK,$356.34,$5.52,$350.82,5/14/2019,HORIZON
4,CESAR ORTIZ RANGEL,10094421.0,CALIFORNIA BANK,$607.95,$9.42,$598.53,5/15/2019,HORIZON

In [90]:
checks_df.columns

Index(['client_name', 'check_no', 'bank', 'amount', 'commision', 'total',
       'date_cashed', 'company_name'],
      dtype='object')

In [91]:
checks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17999 entries, 0 to 17998
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   client_name   17093 non-null  object
 1   check_no      17093 non-null  float64
 2   bank          17093 non-null  object
 3   amount        17093 non-null  object
 4   commision     17999 non-null  object
 5   total         17999 non-null  object
 6   date_cashed   14365 non-null  object
 7   company_name  17092 non-null  object
dtypes: float64(1), object(7)
memory usage: 1.1+ MB

In [92]:
checks_df.tail()

,client_name,check_no,bank,amount,commision,total,date_cashed,company_name
17994,NaN,NaN,NaN,NaN,$0.00,$0.00,NaN,NaN
17995,NaN,NaN,NaN,NaN,$0.00,$0.00,NaN,NaN
17996,NaN,NaN,NaN,NaN,$0.00,$0.00,NaN,NaN
17997,NaN,NaN,NaN,NaN,$0.00,$0.00,NaN,NaN
17998,NaN,NaN,NaN,NaN,$0.00,$0.00,NaN,NaN

Last entries were not filled out, dropping these last entries. 
Checking only if check_no and amount have missing values, dropping these.

In [93]:
checks_df.isnull().sum()

client_name      906
check_no         906
bank             906
amount           906
commision          0
total              0
date_cashed     3634
company_name     907
dtype: int64

In [94]:
checks_updated = checks_df.dropna(subset=['check_no', 'amount','date_cashed'])
checks_updated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14365 entries, 0 to 14365
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   client_name   14365 non-null  object
 1   check_no      14365 non-null  float64
 2   bank          14365 non-null  object
 3   amount        14365 non-null  object
 4   commision     14365 non-null  object
 5   total         14365 non-null  object
 6   date_cashed   14365 non-null  object
 7   company_name  14364 non-null  object
dtypes: float64(1), object(7)
memory usage: 1010.0+ KB

In [95]:
checks_updated.isnull().sum()

client_name     0
check_no        0
bank            0
amount          0
commision       0
total           0
date_cashed     0
company_name    1
dtype: int64

In [96]:
checks_updated.tail()

,client_name,check_no,bank,amount,commision,total,date_cashed,company_name
14361,JUAN SARABIA,2.581330e+05,BANK OF AMERICA,$671.95,$12.10,$659.85,11/09/2021,SAMUEL HALE LLC
14362,ELDER CHOCOJ,1.031588e+09,CHASE BANK,"$1,021.07",$18.38,"$1,002.69",11/09/2021,FOUNTAINS GYRO HOUSE LLC
14363,ELDER CHOCOJ,1.031570e+09,CHASE BANK,"$1,540.02",$27.72,"$1,512.30",11/09/2021,RIDGE GYRO HOUSE
14364,LEONORA OCHOA RUIZ,5.554700e+04,PREMIER BANK,"$1,283.56",$23.10,"$1,260.46",11/09/2021,TWS RESTAURANT CORP STORE
14365,VICTOR VALADEZ,3.001287e+08,US BANK,$754.76,$13.59,$741.17,11/09/2021,AVITUS INC

In [97]:
checks_updated.head()

,client_name,check_no,bank,amount,commision,total,date_cashed,company_name
0,DANIEL E AGUIRRE,1068.0,UNION BANK,"$1,359.47",$21.07,"$1,338.40",5/14/2019,CALIFORNIA BURRITO
1,CLAUDIO CALONA,30597.0,WELLS FARGO BANK,"$1,138.19",$17.64,"$1,120.55",5/14/2019,STONE TILE EVOLUTION LLC
2,ENRIQUE OROSCO DIAZ,3064.0,EL DORADO SAVINGS BANK,$895.34,$13.88,$881.46,5/14/2019,SB MARTIN LLC
3,CESAR ORTIZ RANGEL,10101647.0,CALIFORNIA BANK,$356.34,$5.52,$350.82,5/14/2019,HORIZON
4,CESAR ORTIZ RANGEL,10094421.0,CALIFORNIA BANK,$607.95,$9.42,$598.53,5/15/2019,HORIZON

In [98]:
str(checks_updated.check_no)

'0        1.068000e+03\n1        3.059700e+04\n2        3.064000e+03\n3        1.010165e+07\n4        1.009442e+07\n             ...     \n14361    2.581330e+05\n14362    1.031588e+09\n14363    1.031570e+09\n14364    5.554700e+04\n14365    3.001287e+08\nName: check_no, Length: 14365, dtype: float64'

In [101]:
[str(x) for x in checks_updated.check_no]

['1068.0',
 '30597.0',
 '3064.0',
 '10101647.0',
 '10094421.0',
 '10098225.0',
 '10165.0',
 '9563453.0',
 '9563514.0',
 '109388.0',
 '9538.0',
 '12.0',
 '389.0',
 '1021830.0',
 '1203.0',
 '1238.0',
 '5269.0',
 '108625.0',
 '21750.0',
 '4486538.0',
 '64037.0',
 '64084.0',
 '2253.0',
 '5019.0',
 '29262616.0',
 '4486473.0',
 '2000000952.0',
 '7289.0',
 '40743.0',
 '61974.0',
 '71805.0',
 '1077.0',
 '2116467.0',
 '2479.0',
 '2477.0',
 '87004.0',
 '89653.0',
 '1051.0',
 '36997.0',
 '50233.0',
 '521.0',
 '1045.0',
 '52500.0',
 '52710.0',
 '52617.0',
 '18216.0',
 '1072.0',
 '5993361.0',
 '22520.0',
 '300248.0',
 '1159.0',
 '3201.0',
 '11492.0',
 '1029.0',
 '3773.0',
 '5002.0',
 '16005.0',
 '39008231.0',
 '20295.0',
 '44221975.0',
 '4452.0',
 '579905.0',
 '6027859.0',
 '30602.0',
 '21609.0',
 '11691.0',
 '3255.0',
 '6971.0',
 '2233.0',
 '13349.0',
 '1217.0',
 '3847.0',
 '325.0',
 '74308.0',
 '9588186.0',
 '9588200.0',
 '1660.0',
 '3721.0',
 '1021919.0',
 '18280.0',
 '9588196.0',
 '78379.0',
 '144639.0',
 '145034.0',
 '10492.0',
 '10498.0',
 '127702.0',
 '3108049.0',
 '3108002.0',
 '3111269.0',
 '3101806.0',
 '3110887.0',
 '3107999.0',
 '3108035.0',
 '3108001.0',
 '1894.0',
 '3224.0',
 '4654310.0',
 '10011.0',
 '579910.0',
 '10017.0',
 '25438.0',
 '460.0',
 '2259.0',
 '1017.0',
 '37052.0',
 '36987.0',
 '526.0',
 '6574.0',
 '216.0',
 '5165.0',
 '4374.0',
 '3157.0',
 '8823.0',
 '1582.0',
 '4206.0',
 '1013242443.0',
 '30340.0',
 '15339.0',
 '13147.0',
 '20659.0',
 '50143.0',
 '50151.0',
 '5363.0',
 '29274377.0',
 '2568.0',
 '2579.0',
 '29445.0',
 '29489.0',
 '229188.0',
 '199024.0',
 '54093.0',
 '1273.0',
 '200002114.0',
 '7327.0',
 '7255.0',
 '37031.0',
 '1077.0',
 '11574.0',
 '3072.0',
 '71814.0',
 '4685661.0',
 '19936.0',
 '4990.0',
 '50226.0',
 '39006977.0',
 '45201.0',
 '1431.0',
 '10021.0',
 '5366.0',
 '10209.0',
 '1426.0',
 '200002147.0',
 '294951.0',
 '61492866.0',
 '2821.0',
 '1162.0',
 '1163.0',
 '7702.0',
 '50248.0',
 '9588240.0',
 '10402.0',
 '1020.0',
 '1109.0',
 '2329.0',
 '2321.0',
 '87122.0',
 '11600.0',
 '2246.0',
 '85131.0',
 '85189.0',
 '74327.0',
 '2847249.0',
 '29294334.0',
 '137761.0',
 '29294861.0',
 '8078.0',
 '127867.0',
 '61344652.0',
 '1105.0',
 '1106.0',
 '1107.0',
 '1104.0',
 '89985.0',
 '18298.0',
 '89900.0',
 '2378.0',
 '1055.0',
 '10510.0',
 '10504.0',
 '18294.0',
 '3587.0',
 '402.0',
 '3117235.0',
 '6427.0',
 '1500.0',
 '3117285.0',
 '3117271.0',
 '3117236.0',
 '3117237.0',
 '21762.0',
 '16717.0',
 '99194.0',
 '87245.0',
 '1022073.0',
 '73798.0',
 '1081.0',
 '3240001632.0',
 '138199.0',
 '717427213.0',
 '1375.0',
 '25544.0',
 '1907.0',
 '3121319.0',
 '2261.0',
 '90016008.0',
 '3120295.0',
 '61511299.0',
 '900160053.0',
 '3079.0',
 '4241.0',
 '71823.0',
 '2117108.0',
 '2117700.0',
 '11598.0',
 '229469.0',
 '700945.0',
 '2341.0',
 '3194.0',
 '478.0',
 '2485.0',
 '1588.0',
 '1085.0',
 '10257.0',
 '5029.0',
 '23926.0',
 '50239.0',
 '30611.0',
 '16715.0',
 '2263.0',
 '2387.0',
 '2385.0',
 '2388.0',
 '1011.0',
 '1012.0',
 '531.0',
 '1060.0',
 '1308.0',
 '50262.0',
 '1057.0',
 '1362.0',
 '5387.0',
 '300679.0',
 '22568.0',
 '30606.0',
 '1664.0',
 '4469.0',
 '29331255.0',
 '10405.0',
 '1281.0',
 '3313169.0',
 '446.0',
 '5799.0',
 '547.0',
 '47157747.0',
 '5589.0',
 '582792.0',
 '1164.0',
 '1165.0',
 '1022163.0',
 '3795.0',
 '39008277.0',
 '1668.0',
 '74345.0',
 '5020.0',
 '6061441.0',
 '64125.0',
 '64118.0',
 '2357.0',
 '3236.0',
 '10520.0',
 '10514.0',
 '1058.0',
 '2620.0',
 '13.0',
 '244.0',
 '5301.0',
 '1377.0',
 '3127896.0',
 '45356.0',
 '3127857.0',
 '109919.0',
 '107694.0',
 '11642.0',
 '18321.0',
 '18332.0',
 '87377.0',
 '900206667.0',
 '900206648.0',
 '138640.0',
 '78672.0',
 '4273.0',
 '2264.0',
 '707443824.0',
 '3130995.0',
 '21618.0',
 '25657.0',
 '3092.0',
 '23939.0',
 '13189.0',
 '243.0',
 '11647.0',
 '200013.0',
 '1013302218.0',
 '5867.0',
 '582787.0',
 '29566.0',
 '10632.0',
 '18338.0',
 '19686.0',
 '3127855.0',
 '3127858.0',
 '1.0',
 '71830.0',
 '7397.0',
 '7356.0',
 '4699566.0',
 '39007020.0',
 '9563473.0',
 '9626023.0',
 '9588211.0',
 '9609931.0',
 '9563471.0',
 '9588210.0',
 '5039.0',
 '10311.0',
 '3753.0',
 '19951.0',
 '5008.0',
 '128361.0',
 '7736.0',
 '1113.0',
 '1594.0',
 '713979.0',
 '229766.0',
 '229767.0',
 '9588247.0',
 '29529.0',
 '1452.0',
 '1915.0',
 '2118296.0',
 '536.0',
 '50279.0',
 '1390.0',
 '1378.0',
 '9337677.0',
 '37053.0',
 '60476.0',
 '60475.0',
 '3130748.0',
 '1117.0',
 '1067.0',
 '1121.0',
 '2862569.0',
 '225.0',
 '5362.0',
 '1199.0',
 '1108.0',
 '4513.0',
 '4512.0',
 '302.0',
 '9163.0',
 '9156.0',
 '64124.0',
 '74368.0',
 '61454205.0',
 '698.0',
 '47243880.0',
 '1096.0',
 '1859.0',
 '18331.0',
 '18371.0',
 '18361.0',
 '18309.0',
 '52809.0',
 '52977.0',
 '3138198.0',
 '3138201.0',
 '1064.0',
 '2605.0',
 '10524.0',
 '10529.0',
 '50755.0',
 '78122529.0',
 '1092.0',
 '50167.0',
 '50159.0',
 '21776.0',
 '3240001665.0',
 '50265.0',
 '10016.0',
 '22384.0',
 '37123.0',
 '37099.0',
 '50175.0',
 '139091.0',
 '707459316.0',
 '4792.0',
 '4786.0',
 '1925.0',
 '73896.0',
 '22366.0',
 '4304.0',
 '2119377.0',
 '2119376.0',
 '61552849.0',
 '61533345.0',
 '23961.0',
 '99200.0',
 '87520.0',
 '1022326.0',
 '22620.0',
 '1119.0',
 '1671.0',
 '1401.0',
 '2599.0',
 '3100.0',
 '725787.0',
 '67.0',
 '259.0',
 '2609.0',
 '5438.0',
 '2631.0',
 '299047.0',
 '4518.0',
 '115542.0',
 '16791.0',
 '1029.0',
 '985161.0',
 '71843.0',
 '16793.0',
 '139077.0',
 '29594.0',
 '90293.0',
 '230057.0',
 '1019.0',
 '1375.0',
 '1342.0',
 '2272.0',
 '5048.0',
 '10368.0',
 '1109.0',
 '3141851.0',
 '2619.0',
 '7749.0',
 '1019.0',
 '9653585.0',
 '9626023.0',
 '9663840.0',
 '6819.0',
 '1061.0',
 '546.0',
 '11704.0',
 '461.0',
 '1860.0',
 '2488.0',
 '50290.0',
 '2285.0',
 '6063583.0',
 '4045.0',
 '1103404043.0',
 '11804.0',
 '11803.0',
 '1391.0',
 '1389.0',
 '1226.0',
 '74387.0',
 '20734.0',
 '20322.0',
 '18347.0',
 '64170.0',
 '64161.0',
 '112464.0',
 '2873356.0',
 '585873.0',
 '4467.0',
 '4702.0',
 '1074.0',
 '2003.0',
 '8099.0',
 '6981.0',
 '64169.0',
 '303.0',
 '7096505305.0',
 '10112993.0',
 '10115006.0',
 '18414.0',
 '3787.0',
 '10407.0',
 '2676.0',
 '4490.0',
 '30615.0',
 '30620.0',
 '1022449.0',
 '5936.0',
 '5408.0',
 '10542.0',
 '3150788.0',
 '10024.0',
 '139561.0',
 '19974.0',
 '50286.0',
 '5037.0',
 '16046.0',
 '3247.0',
 '2635.0',
 '1394.0',
 '1393.0',
 '21567.0',
 '21566.0',
 '200080.0',
 '4720727.0',
 '3147435.0',
 '10661.0',
 '10662.0',
 '401.0',
 '9539.0',
 '3604.0',
 '6431.0',
 '65237.0',
 '65260.0',
 '251.0',
 '3147433.0',
 '3147471.0',
 '3147436.0',
 '6104063.0',
 '7468.0',
 '20732.0',
 '50818.0',
 '200086.0',
 '11750.0',
 '3818.0',
 '230371.0',
 '2119638.0',
 '2118843.0',
 '21627.0',
 '45508.0',
 '4334.0',
 '502.0',
 '1491.0',
 '13231.0',
 '29624.0',
 '707475100.0',
 '15082.0',
 '78971.0',
 '1013362875.0',
 '2336.0',
 '5057.0',
 '40480.0',
 '10428.0',
 '1117.0',
 '7761.0',
 '1676.0',
 '5026.0',
 '19966.0',
 '5808.0',
 '547.0',
 '1302.0',
 '9671873.0',
 '11712.0',
 '6900.0',
 '1406.0',
 '19976.0',
 '11481.0',
 '87660.0',
 '5883.0',
 '1109.0',
 '1097.0',
 '1110.0',
 '1098.0',
 '1112.0',
 '1100.0',
 '3206.0',
 '3494.0',
 '1941.0',
 '50303.0',
 '13399.0',
 '74411.0',
 '3833.0',
 '2276.0',
 '3209.0',
 '1022333.0',
 '18389.0',
 '1128.0',
 '3858.0',
 '2625.0',
 '1075.0',
 '1108.0',
 '1131.0',
 '5303.0',
 '9438.0',
 '4665.0',
 '2826.0',
 '60584.0',
 '18451.0',
 '5596.0',
 '18455.0',
 '10548.0',
 '10554.0',
 '1104.0',
 '1396.0',
 '1395.0',
 '3157574.0',
 '3157577.0',
 '218247.0',
 '83142982.0',
 '3157614.0',
 '5676.0',
 '5677.0',
 '3157576.0',
 '3157629.0',
 '1885.0',
 '2640.0',
 '29997.0',
 '29792.0',
 '29484.0',
 '29638.0',
 '30170.0',
 '18458.0',
 '18417.0',
 '18374.0',
 '18335.0',
 '73993.0',
 '1069.0',
 '552.0',
 '1072.0',
 '87780.0',
 '99204.0',
 '1681.0',
 '7010.0',
 '3240001729.0',
 '3240001699.0',
 '707489474.0',
 '1945.0',
 '65304.0',
 '65305.0',
 '140036.0',
 '20068.0',
 '230681.0',
 '3161412.0',
 '2344.0',
 '2338.0',
 '1502.0',
 '4351.0',
 '1067.0',
 '30630.0',
 '3117.0',
 '510.0',
 '23984.0',
 '24006.0',
 '6999.0',
 '11806.0',
 '16864.0',
 '433691.0',
 '116317.0',
 '16866.0',
 '5072.0',
 '30115.0',
 '105.0',
 '1022615.0',
 '2880241.0',
 '2889877.0',
 '5150.0',
 '1439.0',
 '37157.0',
 '8236.0',
 '168204.0',
 '50302.0',
 '4842.0',
 '29667.0',
 '7498.0',
 '200611.0',
 '25755.0',
 '9694516.0',
 '7773.0',
 '50316.0',
 '74440.0',
 '50183.0',
 '50191.0',
 '1863.0',
 '50960.0',
 '8106.0',
 '5416.0',
 '11137820.0',
 '64221.0',
 '64212.0',
 '588884.0',
 '4493.0',
 '1392.0',
 '1022757.0',
 '1022756.0',
 '65356.0',
 '65368.0',
 '65369.0',
 '10565.0',
 '10563.0',
 '10569.0',
 '1684.0',
 '18485.0',
 '18484.0',
 '3247.0',
 '825.0',
 '18492.0',
 '30625.0',
 '23710870.0',
 '1203.0',
 '2259.0',
 '1179.0',
 '1176.0',
 '1178.0',
 '1208.0',
 '4392.0',
 '765213.0',
 '2644.0',
 '5321.0',
 '4868.0',
 '1062.0',
 '1063.0',
 '3258.0',
 '10707.0',
 '432.0',
 '2120874.0',
 '2120347.0',
 '3847.0',
 '3818.0',
 '230995.0',
 '1516.0',
 '50337.0',
 '87929.0',
 '10040780.0',
 '118040.0',
 '118030.0',
 '7118.0',
 '11898.0',
 '1013421732.0',
 '5056.0',
 '259.0',
 '13272.0',
 '1473.0',
 '2121123.0',
 '37184.0',
 '71856.0',
 '23670.0',
 '37200.0',
 '10698.0',
 '18387.0',
 '1252.0',
 '45662.0',
 '5090.0',
 '1078.0',
 '1114.0',
 '61614896.0',
 '21635.0',
 '557.0',
 '5294030.0',
 '6135488.0',
 '3125.0',
 '5044.0',
 '11720.0',
 '100457.0',
 '3217.0',
 '13421.0',
 '29695.0',
 '9729288.0',
 '19.0',
 '1022621.0',
 '6095114.0',
 '7129.0',
 '5903.0',
 '1398.0',
 '1397.0',
 '1956.0',
 '50332.0',
 '15300.0',
 '79262.0',
 '20395.0',
 '18429.0',
 '18470.0',
 '74483.0',
 '2333.0',
 '700.0',
 '3171412.0',
 '60676.0',
 '60684.0',
 '1083.0',
 '2685.0',
 '1135.0',
 '1140.0',
 '1077.0',
 '1080.0',
 '10575.0',
 '10573.0',
 '6661.0',
 '10579.0',
 '2121410.0',
 '1609.0',
 '16953.0',
 '1022998.0',
 '202.0',
 '9546.0',
 '1516.0',
 '260.0',
 '304839.0',
 '24044.0',
 '18529.0',
 '74090.0',
 '3180093.0',
 '3180038.0',
 '65426.0',
 '65427.0',
 '3180037.0',
 '3180036.0',
 '3180080.0',
 '10617.0',
 '5077.0',
 '10046.0',
 '3240001767.0',
 '1689.0',
 '3240001737.0',
 '20368.0',
 '20768.0',
 '20769.0',
 '1080.0',
 '7581.0',
 '99208.0',
 '88082.0',
 '11499.0',
 '2288.0',
 '1964.0',
 '1118.0',
 '11927.0',
 '50978.0',
 '1868.0',
 '3137.0',
 '24053.0',
 '30640.0',
 '5294069.0',
 '18528.0',
 '18540.0',
 '7246.0',
 '231318.0',
 '2121591.0',
 '1537.0',
 '5445.0',
 '1510.0',
 '42241.0',
 '16951.0',
 '116953.0',
 '1326.0',
 '9722.0',
 '4788.0',
 '29714.0',
 '445.0',
 '4885.0',
 '1499.0',
 '50983.0',
 '7237.0',
 '30635.0',
 '1078.0',
 '4735815.0',
 '71868.0',
 '9714152.0',
 '9736904.0',
 '37210.0',
 '7799.0',
 '7381.0',
 '18511.0',
 '18550.0',
 '18428.0',
 '1408.0',
 '1407.0',
 '2419.0',
 '210.0',
 '464.0',
 '809.0',
 '50343.0',
 '3184362.0',
 '18544.0',
 '18498.0',
 '50206.0',
 '57349793.0',
 '2494.0',
 '23836138.0',
 '20348.0',
 '4413.0',
 '4499.0',
 '562.0',
 '74534.0',
 '448.0',
 '2831.0',
 '3223.0',
 '7539.0',
 '591906.0',
 '37438.0',
 '64220.0',
 '56613152.0',
 '1268.0',
 '2681.0',
 '3612.0',
 '64270.0',
 '18315.0',
 '3851.0',
 '64269.0',
 '985163.0',
 '2728.0',
 '8116.0',
 '65460.0',
 '65473.0',
 '65502.0',
 '65472.0',
 '65495.0',
 '5826.0',
 '2122103.0',
 '10585.0',
 '10591.0',
 '1013483289.0',
 '3190763.0',
 '3190777.0',
 '3190720.0',
 '3194643.0',
 '5107.0',
 '10054.0',
 '1692.0',
 '10056.0',
 '5074.0',
 '5075.0',
 '129792.0',
 '100528.0',
 '11147736.0',
 '231635.0',
 '100522.0',
 '1026.0',
 '6590961.0',
 '18513.0',
 '18556.0',
 '3190721.0',
 '9190718.0',
 '1416.0',
 '37238.0',
 '1415.0',
 '1545.0',
 '20584.0',
 '3873.0',
 '1081.0',
 '4431.0',
 '13314.0',
 '12002.0',
 '21643.0',
 '61647721.0',
 '50396.0',
 '7375.0',
 '45813.0',
 '3270.0',
 '3143.0',
 '356.0',
 '10740.0',
 '10741.0',
 '3172.0',
 '268.0',
 '20478.0',
 '2134.0',
 '29753.0',
 '29544978.0',
 '11729.0',
 '50214.0',
 '810.0',
 '5062.0',
 '88236.0',
 '11517.0',
 '51952.0',
 '20495.0',
 '5929.0',
 '7363.0',
 '1619.0',
 '1886.0',
 '6999.0',
 '477.0',
 '51002.0',
 '74588.0',
 '6122.0',
 '1035.0',
 '18592.0',
 '60764.0',
 '60773.0',
 '4754686.0',
 '5.0',
 '5294107.0',
 '457.0',
 '1150.0',
 '1088.0',
 ...]

In [102]:
checks_updated.loc[:,'check_no'] = [str(x) for x in checks_updated.check_no]

/var/folders/1h/rcqg0k810sz71dr55k5_lztm0000gn/T/ipykernel_31314/2317593942.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks_updated.loc[:,'check_no'] = [str(x) for x in checks_updated.check_no]

In [103]:
checks_updated.check_no

0              1068.0
1             30597.0
2              3064.0
3          10101647.0
4          10094421.0
             ...
14361        258133.0
14362    1031588363.0
14363    1031570009.0
14364         55547.0
14365     300128739.0
Name: check_no, Length: 14365, dtype: object

In [104]:
#checks_updated['check_no'] = str(checks_updated.check_no)
checks_updated['unique_id']= checks_updated.check_no + '_'+ checks_updated.bank+ '_' +checks_updated.company_name

/var/folders/1h/rcqg0k810sz71dr55k5_lztm0000gn/T/ipykernel_31314/3792601106.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks_updated['unique_id']= checks_updated.check_no + '_'+ checks_updated.bank+ '_' +checks_updated.company_name

In [105]:
checks_updated.head()

,client_name,check_no,bank,amount,commision,total,date_cashed,company_name,unique_id
0,DANIEL E AGUIRRE,1068.0,UNION BANK,"$1,359.47",$21.07,"$1,338.40",5/14/2019,CALIFORNIA BURRITO,1068.0_UNION BANK_CALIFORNIA BURRITO
1,CLAUDIO CALONA,30597.0,WELLS FARGO BANK,"$1,138.19",$17.64,"$1,120.55",5/14/2019,STONE TILE EVOLUTION LLC,30597.0_WELLS FARGO BANK_STONE TILE EVOLUTION LLC
2,ENRIQUE OROSCO DIAZ,3064.0,EL DORADO SAVINGS BANK,$895.34,$13.88,$881.46,5/14/2019,SB MARTIN LLC,3064.0_EL DORADO SAVINGS BANK_SB MARTIN LLC
3,CESAR ORTIZ RANGEL,10101647.0,CALIFORNIA BANK,$356.34,$5.52,$350.82,5/14/2019,HORIZON,10101647.0_CALIFORNIA BANK_HORIZON
4,CESAR ORTIZ RANGEL,10094421.0,CALIFORNIA BANK,$607.95,$9.42,$598.53,5/15/2019,HORIZON,10094421.0_CALIFORNIA BANK_HORIZON

In [106]:
checks_updated['unique_id'].iloc[:4]

0                 1068.0_UNION BANK_CALIFORNIA BURRITO
1    30597.0_WELLS FARGO BANK_STONE TILE EVOLUTION LLC
2          3064.0_EL DORADO SAVINGS BANK_SB MARTIN LLC
3                   10101647.0_CALIFORNIA BANK_HORIZON
Name: unique_id, dtype: object

In [107]:
checks_updated.describe()
# put () after

,client_name,check_no,bank,amount,commision,total,date_cashed,company_name,unique_id
count,14365,14365,14365,14365,14365,14365,14365,14364,14364
unique,2077,12578,144,9729,3295,9957,906,1634,14229
top,RAMON DEL CID,64.0,BANK OF AMERICA,$100.00,$18.00,$982.00,11/5/2021,J & E FONSECA TACOS INC,1340.0_UNION BANK_CALIFORNIA BURRITO
freq,500,10,3888,120,70,65,74,1007,3

In [61]:
checks_updated.tail()

,client_name,check_no,bank,amount,commision,total,date_cashed,company_name,unique_id
14361,JUAN SARABIA,0 0 0 1.068000e+03\n1 ...,BANK OF AMERICA,$671.95,$12.10,$659.85,11/09/2021,SAMUEL HALE LLC,0 0 0 1.068000e+03\n1 ...
14362,ELDER CHOCOJ,0 0 0 1.068000e+03\n1 ...,CHASE BANK,"$1,021.07",$18.38,"$1,002.69",11/09/2021,FOUNTAINS GYRO HOUSE LLC,0 0 0 1.068000e+03\n1 ...
14363,ELDER CHOCOJ,0 0 0 1.068000e+03\n1 ...,CHASE BANK,"$1,540.02",$27.72,"$1,512.30",11/09/2021,RIDGE GYRO HOUSE,0 0 0 1.068000e+03\n1 ...
14364,LEONORA OCHOA RUIZ,0 0 0 1.068000e+03\n1 ...,PREMIER BANK,"$1,283.56",$23.10,"$1,260.46",11/09/2021,TWS RESTAURANT CORP STORE,0 0 0 1.068000e+03\n1 ...
14365,VICTOR VALADEZ,0 0 0 1.068000e+03\n1 ...,US BANK,$754.76,$13.59,$741.17,11/09/2021,AVITUS INC,0 0 0 1.068000e+03\n1 ...

In [62]:
checks_updated['unique_id'].values

array(['0        0        0        1.068000e+03\\n1        3.059...\n1        0        0        1.068000e+03\\n1        3.059...\n2        0        0        1.068000e+03\\n1        3.059...\n3        0        0        1.068000e+03\\n1        3.059...\n4        0        0        1.068000e+03\\n1        3.059...\n                               ...                        \n14361    0        0        1.068000e+03\\n1        3.059...\n14362    0        0        1.068000e+03\\n1        3.059...\n14363    0        0        1.068000e+03\\n1        3.059...\n14364    0        0        1.068000e+03\\n1        3.059...\n14365    0        0        1.068000e+03\\n1        3.059...\nName: check_no, Length: 14365, dtype: object_UNION BANK_CALIFORNIA BURRITO',
       '0        0        0        1.068000e+03\\n1        3.059...\n1        0        0        1.068000e+03\\n1        3.059...\n2        0        0        1.068000e+03\\n1        3.059...\n3        0        0        1.068000e+03\\n1        3.059...\n4        0        0        1.068000e+03\\n1        3.059...\n                               ...                        \n14361    0        0        1.068000e+03\\n1        3.059...\n14362    0        0        1.068000e+03\\n1        3.059...\n14363    0        0        1.068000e+03\\n1        3.059...\n14364    0        0        1.068000e+03\\n1        3.059...\n14365    0        0        1.068000e+03\\n1        3.059...\nName: check_no, Length: 14365, dtype: object_WELLS FARGO BANK_STONE TILE EVOLUTION LLC',
       '0        0        0        1.068000e+03\\n1        3.059...\n1        0        0        1.068000e+03\\n1        3.059...\n2        0        0        1.068000e+03\\n1        3.059...\n3        0        0        1.068000e+03\\n1        3.059...\n4        0        0        1.068000e+03\\n1        3.059...\n                               ...                        \n14361    0        0        1.068000e+03\\n1        3.059...\n14362    0        0        1.068000e+03\\n1        3.059...\n14363    0        0        1.068000e+03\\n1        3.059...\n14364    0        0        1.068000e+03\\n1        3.059...\n14365    0        0        1.068000e+03\\n1        3.059...\nName: check_no, Length: 14365, dtype: object_EL DORADO SAVINGS BANK_SB MARTIN LLC',
       ...,
       '0        0        0        1.068000e+03\\n1        3.059...\n1        0        0        1.068000e+03\\n1        3.059...\n2        0        0        1.068000e+03\\n1        3.059...\n3        0        0        1.068000e+03\\n1        3.059...\n4        0        0        1.068000e+03\\n1        3.059...\n                               ...                        \n14361    0        0        1.068000e+03\\n1        3.059...\n14362    0        0        1.068000e+03\\n1        3.059...\n14363    0        0        1.068000e+03\\n1        3.059...\n14364    0        0        1.068000e+03\\n1        3.059...\n14365    0        0        1.068000e+03\\n1        3.059...\nName: check_no, Length: 14365, dtype: object_CHASE BANK_RIDGE GYRO HOUSE',
       '0        0        0        1.068000e+03\\n1        3.059...\n1        0        0        1.068000e+03\\n1        3.059...\n2        0        0        1.068000e+03\\n1        3.059...\n3        0        0        1.068000e+03\\n1        3.059...\n4        0        0        1.068000e+03\\n1        3.059...\n                               ...                        \n14361    0        0        1.068000e+03\\n1        3.059...\n14362    0        0        1.068000e+03\\n1        3.059...\n14363    0        0        1.068000e+03\\n1        3.059...\n14364    0        0        1.068000e+03\\n1        3.059...\n14365    0        0        1.068000e+03\\n1        3.059...\nName: check_no, Length: 14365, dtype: object_PREMIER BANK_TWS RESTAURANT CORP STORE',
       '0        0        0        1.068000e+03\\n1        3.059...\n1        0        0        1.068000e+03\\n1        3.059...\n2        0        0        1.068000e+03\\n1        3.059...\n3        0        0        1.068000e+03\\n1        3.059...\n4        0        0        1.068000e+03\\n1        3.059...\n                               ...                        \n14361    0        0        1.068000e+03\\n1        3.059...\n14362    0        0        1.068000e+03\\n1        3.059...\n14363    0        0        1.068000e+03\\n1        3.059...\n14364    0        0        1.068000e+03\\n1        3.059...\n14365    0        0        1.068000e+03\\n1        3.059...\nName: check_no, Length: 14365, dtype: object_US BANK_AVITUS INC'],
      dtype=object)

In [20]:
checks_df.isna().any()

client_name      True
check_no        False
bank             True
amount           True
commision       False
total           False
date_cashed      True
company_Name     True
unique_id        True
dtype: bool

In [21]:
# can do mean or median imputations 
checks_updated = checks_df.dropna()
checks_updated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14364 entries, 0 to 14365
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   client_name   14364 non-null  object
 1   check_no      14364 non-null  object
 2   bank          14364 non-null  object
 3   amount        14364 non-null  object
 4   commision     14364 non-null  object
 5   total         14364 non-null  object
 6   date_cashed   14364 non-null  object
 7   company_Name  14364 non-null  object
 8   unique_id     14364 non-null  object
dtypes: object(9)
memory usage: 1.1+ MB

In [22]:
# drop missing values went from 17,900 to 14,300 entries 
# sanity check
checks_updated.isna().any()

client_name     False
check_no        False
bank            False
amount          False
commision       False
total           False
date_cashed     False
company_Name    False
unique_id       False
dtype: bool

In [63]:
checks_updated['check_no'].loc[:3].values

array(['0        0        0        1.068000e+03\\n1        3.059...\n1        0        0        1.068000e+03\\n1        3.059...\n2        0        0        1.068000e+03\\n1        3.059...\n3        0        0        1.068000e+03\\n1        3.059...\n4        0        0        1.068000e+03\\n1        3.059...\n                               ...                        \n14361    0        0        1.068000e+03\\n1        3.059...\n14362    0        0        1.068000e+03\\n1        3.059...\n14363    0        0        1.068000e+03\\n1        3.059...\n14364    0        0        1.068000e+03\\n1        3.059...\n14365    0        0        1.068000e+03\\n1        3.059...\nName: check_no, Length: 14365, dtype: object',
       '0        0        0        1.068000e+03\\n1        3.059...\n1        0        0        1.068000e+03\\n1        3.059...\n2        0        0        1.068000e+03\\n1        3.059...\n3        0        0        1.068000e+03\\n1        3.059...\n4        0        0        1.068000e+03\\n1        3.059...\n                               ...                        \n14361    0        0        1.068000e+03\\n1        3.059...\n14362    0        0        1.068000e+03\\n1        3.059...\n14363    0        0        1.068000e+03\\n1        3.059...\n14364    0        0        1.068000e+03\\n1        3.059...\n14365    0        0        1.068000e+03\\n1        3.059...\nName: check_no, Length: 14365, dtype: object',
       '0        0        0        1.068000e+03\\n1        3.059...\n1        0        0        1.068000e+03\\n1        3.059...\n2        0        0        1.068000e+03\\n1        3.059...\n3        0        0        1.068000e+03\\n1        3.059...\n4        0        0        1.068000e+03\\n1        3.059...\n                               ...                        \n14361    0        0        1.068000e+03\\n1        3.059...\n14362    0        0        1.068000e+03\\n1        3.059...\n14363    0        0        1.068000e+03\\n1        3.059...\n14364    0        0        1.068000e+03\\n1        3.059...\n14365    0        0        1.068000e+03\\n1        3.059...\nName: check_no, Length: 14365, dtype: object',
       '0        0        0        1.068000e+03\\n1        3.059...\n1        0        0        1.068000e+03\\n1        3.059...\n2        0        0        1.068000e+03\\n1        3.059...\n3        0        0        1.068000e+03\\n1        3.059...\n4        0        0        1.068000e+03\\n1        3.059...\n                               ...                        \n14361    0        0        1.068000e+03\\n1        3.059...\n14362    0        0        1.068000e+03\\n1        3.059...\n14363    0        0        1.068000e+03\\n1        3.059...\n14364    0        0        1.068000e+03\\n1        3.059...\n14365    0        0        1.068000e+03\\n1        3.059...\nName: check_no, Length: 14365, dtype: object'],
      dtype=object)

In [73]:
#checks_updated['check_no'].str.replace('\n','').str.replace('\\n1','')[0]
checks_updated['check_no'].str.split().str.join("")[0]

'0001.068000e+03\\n13.059...1001.068000e+03\\n13.059...2001.068000e+03\\n13.059...3001.068000e+03\\n13.059...4001.068000e+03\\n13.059......14361001.068000e+03\\n13.059...14362001.068000e+03\\n13.059...14363001.068000e+03\\n13.059...14364001.068000e+03\\n13.059...14365001.068000e+03\\n13.059...Name:check_no,Length:14365,dtype:object'

In [28]:
# split the string by '\n' and convert to a list of strings
checks_updated['check_no'] = checks_updated['check_no'].str.split('\n')

# converting the list of strings to a list of floats
checks_updated['check_no'] = checks_updated['check_no'].apply(lambda x: [float(i) for i in x if i])

/var/folders/1h/rcqg0k810sz71dr55k5_lztm0000gn/T/ipykernel_18721/2005383708.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks_updated['check_no'] = checks_updated['check_no'].str.split('\n')

ValueError: could not convert string to float: '0            1068.0'

In [29]:
# Convert the 'check_no' column to a list of strings
checks_updated['check_no'] = checks_updated['check_no'].astype(str)

# Split the string by '\n' and convert to a list of strings
checks_updated['check_no'] = checks_updated['check_no'].str.split('\n')

# Flatten the list of strings into a single list
checks_list = [item for sublist in checks_updated['check_no'] for item in sublist]

# Convert the list of strings to numeric data types, and set invalid values to NaN
checks_numeric = pd.to_numeric(checks_list, errors='coerce')

# Reshape the numeric data back to a list of lists
checks_updated['check_no'] = [checks_numeric[i:i+5].tolist() for i in range(0, len(checks_numeric), 5)]

/var/folders/1h/rcqg0k810sz71dr55k5_lztm0000gn/T/ipykernel_18721/3121255903.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks_updated['check_no'] = checks_updated['check_no'].astype(str)
/var/folders/1h/rcqg0k810sz71dr55k5_lztm0000gn/T/ipykernel_18721/3121255903.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks_updated['check_no'] = checks_updated['check_no'].str.split('\n')

ValueError: Length of values (2873) does not match length of index (14364)

In [30]:
# Convert the 'check_no' column to a list of strings
checks_updated['check_no'] = checks_updated['check_no'].astype(str)

# Split the string by '\n' and convert to a list of strings
checks_updated['check_no'] = checks_updated['check_no'].str.split('\n')

# Create a list to hold the converted values and their original index
checks_converted = []

# Iterate over the rows in the DataFrame and convert each value to a float
for i, row in checks_updated.iterrows():
    check_nums = pd.to_numeric(row['check_no'], errors='coerce').tolist()
    checks_converted.extend([(i, num) for num in check_nums])

# Convert the list of converted values to a DataFrame
checks_converted_df = pd.DataFrame(checks_converted, columns=['index', 'check_no'])

# Pivot the DataFrame to get the check numbers as columns
checks_pivoted = checks_converted_df.pivot(index='index', columns='check_no', values='check_no')

# Merge the pivoted DataFrame with the original DataFrame
checks_merged = pd.concat([checks_updated.drop(columns='check_no'), checks_pivoted], axis=1)

/var/folders/1h/rcqg0k810sz71dr55k5_lztm0000gn/T/ipykernel_18721/2114146562.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks_updated['check_no'] = checks_updated['check_no'].astype(str)
/var/folders/1h/rcqg0k810sz71dr55k5_lztm0000gn/T/ipykernel_18721/2114146562.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks_updated['check_no'] = checks_updated['check_no'].str.split('\n')

In [31]:
checks_updated.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14364 entries, 0 to 14365
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   client_name   14364 non-null  object
 1   check_no      14364 non-null  object
 2   bank          14364 non-null  object
 3   amount        14364 non-null  object
 4   commision     14364 non-null  object
 5   total         14364 non-null  object
 6   date_cashed   14364 non-null  object
 7   company_Name  14364 non-null  object
 8   unique_id     14364 non-null  object
dtypes: object(9)
memory usage: 1.6+ MB

In [34]:
checks_updated['check_no'].loc[:0].values

array([list(['["[\'0            1068.0\', \'1           30597.0\', \'2            3064.0\', \'3        10101647.0\', \'4        10094421.0\', \'            ...    \', \'17994           NaN\', \'17995           NaN\', \'17996           NaN\', \'17997           NaN\', \'17998           NaN\', \'Name: check_no, Length: 17999, dtype: float64\']"]'])],
      dtype=object)

In [36]:
# extracting the first value from each of the lists in the check_no column 
checks_updated['check_no'] = checks_updated['check_no'].apply(lambda x: x[0].split(',')[0].strip('["'))
checks_updated['check_no'] = checks_updated['check_no'].astype(float)

/var/folders/1h/rcqg0k810sz71dr55k5_lztm0000gn/T/ipykernel_18721/3638004440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  checks_updated['check_no'] = checks_updated['check_no'].apply(lambda x: x[0].split(',')[0].strip('["'))

ValueError: could not convert string to float: "'0            1068.0'"

In [47]:
# need to bring the data into the right shape 
# unique id- index column 
# ds column has the date or a numerical value 
# y column- the target variable of our univariate time series

In [52]:
#!pip install statsforecast
#!pip install datasetsforecast

In [3]:
#!pip install s3fs

In [53]:
from statsforecast import StatsForecast

In [ ]:
from statsforecast.models import (
AutoARIMA,
HotWinters,
CrostonClassic as Croston,
HistoricAverage,
DynamicOptimizedTheta as DOT,
SeasonalNaive)

# creating a list of models and instantiation parameters
models = [
    AutoARIMA(season_length=24),
    HotWinters(),
    Croston(),
    HistoricAverage(),
    DOT(season_length=24),
    SeasonalNaive(season_length=24)
]